* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	min-height: 100vh;
}
.App {
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	/* align-items: center; */
}
.head {
	z-index: 1;
}
.body {
	/* padding-top: 5%; */
}
.foot {
	z-index: -1;
}
/* @media only screen and (max-width: 500px) {
	.App {
		min-height: 80vh;
	}
} */
